Repository kleros/archon: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

v2.1.0
  package.json
Due: prettier --write --ignore-unknown

refactor: removed v8-sandbox from dependencies
  package.json
  src/utils/frame-loader.js
  tests/standards/arbitrable/MetaEvidence.test.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

v2.1.1
  package.json
  src/utils/frame-loader.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: updated publish flow
  jest.config.js
  package.json
  tests/utils/hashing.test.js
  tests/utils/sanitize.test.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: reintroduced v8-sandbox for testing purposes only
  .eslintignore
  package.json
  src/utils/frame-loader.js
  tests/standards/arbitrable/MetaEvidence.test.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: fixed cross-chain MetaEvidence arbitrableJsonRpcUrl
  docs/archon-arbitrable.rst
  src/standards/Arbitrable.js
  src/utils/frame-loader.js
  tests/standards/arbitrable/MetaEvidence.test.js
Due: prettier --write, eslint --fix

fix: moved v8-sandbox back to dependencies
  package.json
Due: prettier --write --ignore-unknown

refactor: simplified conditional assignments of default parameters
  src/standards/Arbitrable.js
Due: prettier --write, eslint --fix

refactor: remove test case with overspecification
  tests/standards/arbitrable/MetaEvidence.test.js
Due: prettier --write, eslint --fix

v2.2.0
  package.json
Due: prettier --write --ignore-unknown

feat: no getLogs
  package.json
  src/standards/Arbitrable.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: name version
  package.json
Due: prettier --write --ignore-unknown

fix: deref
  src/standards/Arbitrable.js
Due: prettier --write, eslint --fix

fix: bugs
  src/standards/Arbitrable.js
Due: prettier --write, eslint --fix

chore: fix yarn.lock
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version bump
  package.json
Due: prettier --write --ignore-unknown

chore: update package for PR
  package.json
Due: prettier --write --ignore-unknown

chore: dep version bumps
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: replace ipfs:// with /ipfs/
  src/utils/uri.js
Due: prettier --write, eslint --fix

chore: release
  package.json
Due: prettier --write --ignore-unknown

tea.xyz
  tea.yaml
Due: none

chore: tea removal
  tea.yaml
Due: none

chore: tea adding back
  tea.yaml
Due: none

chore: migrate-subgraph
  src/standards/Arbitrable.js
Due: prettier --write, eslint --fix

chore(release): 2.3.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

chore(release): 2.4.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

chore: migrate-subgraph
  CHANGELOG.md
  package.json
  src/standards/Arbitrable.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: add-headers-to-subgraph-fetch-query
  src/standards/Arbitrable.js
Due: prettier --write, eslint --fix
